/* Dark Theme */
:root {
    --primary-color: #bb86fc;
    --secondary-color: #03dac6;
    --text-color: #333;
    --background-color: #121212;
    --surface-color: #ffffff;
}

body {
    background-color: var(--background-color);
}

.content-container {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

nav {
    background-color: #444;
}

header {
    background-color: #333;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
}

nav a {
    color: #fff;
}

nav a:hover {
    background-color: var(--primary-color);
}

.music-links a {
    background-color: var(--primary-color);
    color: #fff;
}

.music-links a:hover {
    background-color: var(--secondary-color);
}

.gallery-image {
    filter: brightness(0.8);
    transition: filter 0.3s, transform 0.3s;
}

.gallery-image:hover {
    filter: brightness(1);
}

#theme-toggle-btn {
    background-color: var(--primary-color);
    color: #fff;
}

#theme-toggle-btn:hover {
    background-color: var(--secondary-color);
}

.background-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/background1.jpg');
} 